# Assignment: Ionosphere Data Problem

### Dataset Description: 

This radar data was collected by a system in Goose Bay, Labrador. This system consists of a phased array of 16 high-frequency antennas with a total transmitted power on the order of 6.4 kilowatts. See the paper for more details. The targets were free electrons in the ionosphere. "Good" radar returns are those showing evidence of some type of structure in the ionosphere. "Bad" returns are those that do not; their signals pass through the ionosphere.

Received signals were processed using an autocorrelation function whose arguments are the time of a pulse and the pulse number. There were 17 pulse numbers for the Goose Bay system. Instances in this databse are described by 2 attributes per pulse number, corresponding to the complex values returned by the function resulting from the complex electromagnetic signal.

### Attribute Information:

- All 34 are continuous
- The 35th attribute is either "good" or "bad" according to the definition summarized above. This is a binary classification task.

 <br><br>

<table border="1"  cellpadding="6">
	<tbody>
        <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Data Set Characteristics:&nbsp;&nbsp;</b></p></td>
		<td><p class="normal">Multivariate</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Instances:</b></p></td>
		<td><p class="normal">351</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Area:</b></p></td>
		<td><p class="normal">Physical</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">
    <tbody>
        <tr>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Attribute Characteristics:</b></p></td>
            <td><p class="normal">Integer,Real</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Number of Attributes:</b></p></td>
            <td><p class="normal">34</p></td>
            <td bgcolor="#DDEEFF"><p class="normal"><b>Date Donated</b></p></td>
            <td><p class="normal">N/A</p></td>
        </tr>
     </tbody>
    </table>
<table border="1" cellpadding="6">	
    <tbody>
    <tr>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Associated Tasks:</b></p></td>
		<td><p class="normal">Classification</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Missing Values?</b></p></td>
		<td><p class="normal">N/A</p></td>
		<td bgcolor="#DDEEFF"><p class="normal"><b>Number of Web Hits:</b></p></td>
		<td><p class="normal">N/A</p></td>
	</tr>
    </tbody>
    </table>

### WORKFLOW :
- Load Data
- Check Missing Values ( If Exist ; Fill each record with mean of its feature ) or any usless column.
- Shuffle the data if needed.
- Standardized the Input Variables. **Hint**: Centeralized the data
- Split into 60 and 40 ratio.
- Encode labels.
- Model : 1 hidden layers including 16 unit.
- Compilation Step (Note : Its a Binary problem , select loss , metrics according to it)
- Train the Model with Epochs (100).
- If the model gets overfit tune your model by changing the units , No. of layers , epochs , add dropout layer or add Regularizer according to the need .
- Prediction should be > **92%**
- Evaluation Step
- Prediction

# Load Data:
[Click Here to Download DataSet](https://github.com/ramsha275/ML_Datasets/blob/main/ionosphere_data.csv)

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

from tensorflow.keras import layers, optimizers, models

In [3]:
cd /content/drive/MyDrive/Assignment3_DL/Ionosphere

/content/drive/MyDrive/Assignment3_DL/Ionosphere

In [4]:
data = pd.read_csv('ionosphere_data.csv')

In [5]:
data

     feature1  feature2  feature3  ...  feature33  feature34  label
0           1         0   0.99539  ...    0.18641   -0.45300      g
1           1         0   1.00000  ...   -0.13738   -0.02447      b
2           1         0   1.00000  ...    0.56045   -0.38238      g
3           1         0   1.00000  ...   -0.32382    1.00000      b
4           1         0   1.00000  ...   -0.04608   -0.65697      g
..        ...       ...       ...  ...        ...        ...    ...
346         1         0   0.83508  ...    0.90546   -0.04307      g
347         1         0   0.95113  ...    0.91483    0.04712      g
348         1         0   0.94701  ...    0.92697   -0.00577      g
349         1         0   0.90608  ...    0.87403   -0.16243      g
350         1         0   0.84710  ...    0.85764   -0.06151      g

[351 rows x 35 columns]

In [6]:
data.isnull().sum()

feature1     0
feature2     0
feature3     0
feature4     0
feature5     0
feature6     0
feature7     0
feature8     0
feature9     0
feature10    0
feature11    0
feature12    0
feature13    0
feature14    0
feature15    0
feature16    0
feature17    0
feature18    0
feature19    0
feature20    0
feature21    0
feature22    0
feature23    0
feature24    0
feature25    0
feature26    0
feature27    0
feature28    0
feature29    0
feature30    0
feature31    0
feature32    0
feature33    0
feature34    0
label        0
dtype: int64

In [7]:
data.describe()

         feature1  feature2    feature3  ...   feature32   feature33   feature34
count  351.000000     351.0  351.000000  ...  351.000000  351.000000  351.000000
mean     0.891738       0.0    0.641342  ...   -0.003794    0.349364    0.014480
std      0.311155       0.0    0.497708  ...    0.513574    0.522663    0.468337
min      0.000000       0.0   -1.000000  ...   -1.000000   -1.000000   -1.000000
25%      1.000000       0.0    0.472135  ...   -0.242595    0.000000   -0.165350
50%      1.000000       0.0    0.871110  ...    0.000000    0.409560    0.000000
75%      1.000000       0.0    1.000000  ...    0.200120    0.813765    0.171660
max      1.000000       0.0    1.000000  ...    1.000000    1.000000    1.000000

[8 rows x 34 columns]

In [8]:
data.dtypes

feature1       int64
feature2       int64
feature3     float64
feature4     float64
feature5     float64
feature6     float64
feature7     float64
feature8     float64
feature9     float64
feature10    float64
feature11    float64
feature12    float64
feature13    float64
feature14    float64
feature15    float64
feature16    float64
feature17    float64
feature18    float64
feature19    float64
feature20    float64
feature21    float64
feature22    float64
feature23    float64
feature24    float64
feature25    float64
feature26    float64
feature27    float64
feature28    float64
feature29    float64
feature30    float64
feature31    float64
feature32    float64
feature33    float64
feature34    float64
label         object
dtype: object

In [9]:
targets = np.array([1 if x=='g' else 0 for x in data.label])
targets

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [10]:
data.drop(columns=['label'], inplace = True)

In [11]:
np.random.seed(225)
mask1 = np.random.rand(len(data)) < 0.80
train_data = data[mask1]
train_targets = targets[mask1]
test_data = data[~mask1]
test_targets = targets[~mask1]

In [37]:
network = models.Sequential()
network.add(layers.Dense(16, activation='relu', input_shape=(train_data.shape[1],)))
network.add(layers.Dense(8, activation='relu'))
network.add(layers.Dense(1, activation='sigmoid'))
network.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])
network.fit(train_data, train_targets, epochs = 7, batch_size=1)

Epoch 1/7
271/271 [==============================] - 1s 1ms/step - loss: 10.1159 - accuracy: 0.3386
Epoch 2/7
271/271 [==============================] - 0s 1ms/step - loss: 10.1343 - accuracy: 0.3431
Epoch 3/7
271/271 [==============================] - 0s 1ms/step - loss: 9.8332 - accuracy: 0.3625
Epoch 4/7
271/271 [==============================] - 0s 1ms/step - loss: 9.8269 - accuracy: 0.3629
Epoch 5/7
271/271 [==============================] - 0s 1ms/step - loss: 9.8385 - accuracy: 0.3622
Epoch 6/7
271/271 [==============================] - 0s 1ms/step - loss: 9.1973 - accuracy: 0.4037
Epoch 7/7
271/271 [==============================] - 0s 1ms/step - loss: 9.7092 - accuracy: 0.3706

In [13]:
k = 3
val_size = len(train_data) // k
all_scores = []
for i in range(k):
  val_data = train_data[i * val_size : (i + 1) * val_size]
  val_targets = train_targets[i * val_size : (i + 1) * val_size]
  partial_train_data = np.concatenate([train_data[:i * val_size], train_data[(i + 1) * val_size:]])
  partial_train_targets = np.concatenate([train_targets[:i * val_size], train_targets[(i + 1) * val_size:]])
  network.fit(partial_train_data, partial_train_targets, epochs = 50, batch_size = 1, verbose=0)
  val_mse, val_mae = network.evaluate(val_data, val_targets, verbose = 0)
  print(val_mse, val_mae)
  all_scores.append(val_mae)

0.7737241983413696 0.7777777910232544
0.2568214237689972 0.9333333373069763
0.024094248190522194 0.9888888597488403

In [35]:
network.evaluate(test_data, test_targets)

WARNING:tensorflow:5 out of the last 22 calls to <function Model.make_test_function.<locals>.test_function at 0x7fdc6239d050> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
3/3 [==============================] - 0s 6ms/step - loss: 0.3353 - accuracy: 0.8500

[0.3352624177932739, 0.8500000238418579]

In [29]:
test_data.iloc[-1]

feature1     1.00000
feature2     0.00000
feature3     0.90608
feature4    -0.01657
feature5     0.98122
feature6    -0.01989
feature7     0.95691
feature8    -0.03646
feature9     0.85746
feature10    0.00110
feature11    0.89724
feature12   -0.03315
feature13    0.89061
feature14   -0.01436
feature15    0.90608
feature16   -0.04530
feature17    0.91381
feature18   -0.00884
feature19    0.80773
feature20   -0.12928
feature21    0.88729
feature22    0.01215
feature23    0.92155
feature24   -0.02320
feature25    0.91050
feature26   -0.02099
feature27    0.89147
feature28   -0.07760
feature29    0.82983
feature30   -0.17238
feature31    0.96022
feature32   -0.03757
feature33    0.87403
feature34   -0.16243
Name: 349, dtype: float64

In [30]:
x = network.predict(test_data)
((x.round() == test_targets).sum())/len(x)

44.25